Q1. Explain with an example each when to use a for loop and a while loop.

for loop: Iterate a predefined number of times. This is also known as a definite iteration
ex-"for i in range(10):  # collection of numbers from 0 to 9
    print(i)" we used the range function to create a collection of numbers from 0 to 9. Later on, we used the print function to log out the value of our loop variable

while loop: Keep on iterating until the condition is false. This is known as an indefinite iteration
ex-

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [1]:
a=10
b=0
c=1
for i in list(range(1,a+1)):
    b=b+i
    c=c*i
print(b,c)

55 3628800

In [2]:
a=10
b=0
c=1
i=1
while i<=a:
    b=b+i
    c=c*i
    i=i+1
print(b,c)

55 3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [3]:
a=int(input('bill unit'))
bill_amount=0
if a<=100:
    bill_amount=4.5*a
elif a>100 and a<=200:
    bill_amount=((a-100)*6)+(100*4.5)
elif a>200 and a<=300:
    bill_amount=((a-200)*10)+(100*6)+(100*4.5)
elif a>300:
    bill_amount=((a-300)*20)+(100*10)+(100*6)+(100*4.5)
print(bill_amount)

bill unit 310

2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [4]:
a=list(range(1,101))
l=[]
for i in a:
    b=(i*i*i)
    if b%4==0 or b%5==0:
        l.append(b)
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [5]:
a=100
i=1
l=[]
while i<=a:
    b=(i*i*i)
    if b%4==0 or b%5==0:
        l.append(b)
    i=i+1
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [6]:
string="i want to become a data scientist"
l=[]
for i in string:
    if i=="a"or i=="e"or i=="i"or i=="o" or i=="u":
     l.append(i)
print(len(l))
l

12

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']